.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# local env
.env
.env.*

# IDE
.vscode/
.idea/

# Mac/Linux
.DS_Store

# plan files
*.tfplan

